<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Honey Waffle – About</title>
<meta name="description" content=">Honey Waffle web client">
<meta name="author" content=">Taell">

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Honey Waffle – About" />
<meta property="og:description" content="Ask for advice on awkward or delicate topics. Get hints to deal with family and friends. Successfully address people you know from school or workplace." />
<meta property="og:site_name" content="Honey Waffle About web client" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Honey Waffle – About" />
<meta name="twitter:description" content="Ask for advice on awkward or delicate topics. Get hints to deal with family and friends. Successfully address people you know from school or workplace." />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="dns-prefetch" href="//s.w.org" />

<link rel="stylesheet" type="text/css" media="all" href="static/normalize.css">
<link rel="stylesheet" type="text/css" media="all" href="static/style.css">

<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93459915-1', 'auto');
ga('require', 'linkid');
ga('send', 'pageview');

var myintervalid = setInterval(function() {ga('send', 'event', '15-seconds', 'bounce' );},15000);
setTimeout(function(){clearInterval(myintervalid);},20000);
</script>
</head>

<body>

<div class="container">
<div class="row">

<!-- Content -->
<div class="four columns">
<div class="container_mobile">

<div class="credits_mobile">
<div class="credits_3"><a href="http://honey-waffle.taell.me/about.html" title="Honey Waffle about page" alt="Honey Waffle about">About</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/imprint.html" title="Honey Waffle imprint page" alt="Honey Waffle imprint">Imprint</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/privacy.html" title="Honey Waffle privacy page" alt="Honey Waffle privacy">Privacy</a></br>© 2018 Taell</div>
</div>

<div class="branding">
<a href="http://honey-waffle.taell.me/index.html" title="Honey Waffle home page" alt="Honey Waffle sign"><img src="static/sign.svg" alt="sign" width="90" height="90" class="sign"></a>
<a href="http://honey-waffle.taell.me/index.html" title="Honey Waffle home page" alt="Honey Waffle sign"><img src="static/sign_mobile.svg" alt="sign" width="45" height="45" class="sign_mobile"></a>
<a href="http://honey-waffle.taell.me/index.html" title="Honey Waffle home page" alt="Honey Waffle logo"><img src="static/logo.svg" alt="logo" width="200" height="46" class="logo"></a>
<div class="subline_container">
<div class="line_subline"></div>
<div class="textspace-20"></div>
<div class="subline">This bot is also available on <a href="http://taell.me/honey-waffle-telegram/" title="Honey Waffle Telegram" alt="Honey Waffle Telegram link">Telegram</a> and <a href="http://taell.me/honey-waffle-line/" title="Honey Waffle Line" alt="Honey Waffle Line link">Line.</a></div>
<div class="textspace-20"></div>
<div class="line_subline"></div>
</div>
</div>
<div class="subline_mobile">Also available on <a href="http://taell.me/honey-waffle-telegram/" title="Honey Waffle Telegram" alt="Honey Waffle Telegram link">Telegram</a> and <a href="http://taell.me/honey-waffle-line/" title="Honey Waffle Line" alt="Honey Waffle Line link">Line.</a></div>

<div class="credits">
<div class="credits_1"><a href="http://honey-waffle.taell.me/about.html" title="Honey Waffle about page" alt="Honey Waffle about">About</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/imprint.html" title="Honey Waffle imprint page" alt="Honey Waffle imprint">Imprint</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/privacy.html" title="Honey Waffle privacy page" alt="Honey Waffle privacy">Privacy</a></div>
<div class="credits_2">© 2018 Taell</div>
</div>

</div>
</div>

<div class="eight columns">


<div class="content">
<div class="blocktext">
<div class="textspace-20"></div>
A carefully crafted message can pave your way ahead, a clueless one can burn all your bridges. Get some help!
<div class="textspace-20"></div>
Talk to Honey Waffle and become a better communicator with tailor-made message suggestions aided by Artificial Intelligence.
<div class="textspace-20"></div>
Ask for advice on awkward, delicate or romantic topics. Honey Waffle sends you hints to deal with family, friends and people you know from school or workplace.
<div class="textspace-20"></div>
<div class="line_content"></div>
<div class="textspace-20"></div>
Honey Waffle is also available on <a href="http://taell.me/honey-waffle-telegram/" title="Honey Waffle Telegram" alt="Honey Waffle Telegram link">Telegram</a> and <a href="http://taell.me/honey-waffle-line/" title="Honey Waffle Line" alt="Honey Waffle Line link">Line.</a>
<div class="textspace-80"></div>
</div>
</div>

</div>
<!-- / Content -->

</div>
</div>

</body>

</html>
