<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Honey Waffle – Imprint</title>
<meta name="description" content=">Honey Waffle web client">
<meta name="author" content=">Taell">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="dns-prefetch" href="//s.w.org" />

<link rel="stylesheet" type="text/css" media="all" href="static/normalize.css">
<link rel="stylesheet" type="text/css" media="all" href="static/style.css">

<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93459915-1', 'auto');
ga('require', 'linkid');
ga('send', 'pageview');

var myintervalid = setInterval(function() {ga('send', 'event', '15-seconds', 'bounce' );},15000);
setTimeout(function(){clearInterval(myintervalid);},20000);
</script>
</head>

<body>

<div class="container">
<div class="row">

<!-- Content -->
<div class="four columns">
<div class="container_mobile">

<div class="credits_mobile">
<div class="credits_3"><a href="http://honey-waffle.taell.me/about.html" title="Honey Waffle about page" alt="Honey Waffle about">About</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/imprint.html" title="Honey Waffle imprint page" alt="Honey Waffle imprint">Imprint</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/privacy.html" title="Honey Waffle privacy page" alt="Honey Waffle privacy">Privacy</a></br>© 2018 Taell</div>
</div>

<div class="branding">
<a href="http://honey-waffle.taell.me/index.html" title="Honey Waffle home page" alt="Honey Waffle sign"><img src="static/sign.svg" alt="sign" width="90" height="90" class="sign"></a>
<a href="http://honey-waffle.taell.me/index.html" title="Honey Waffle home page" alt="Honey Waffle sign"><img src="static/sign_mobile.svg" alt="sign" width="45" height="45" class="sign_mobile"></a>
<a href="http://honey-waffle.taell.me/index.html" title="Honey Waffle home page" alt="Honey Waffle logo"><img src="static/logo.svg" alt="logo" width="200" height="46" class="logo"></a>
<div class="subline_container">
<div class="line_subline"></div>
<div class="textspace-20"></div>
<div class="subline">This bot is also available on <a href="http://taell.me/honey-waffle-telegram/" title="Honey Waffle Telegram" alt="Honey Waffle Telegram link">Telegram</a> and <a href="http://taell.me/honey-waffle-line/" title="Honey Waffle Line" alt="Honey Waffle Line link">Line.</a></div>
<div class="textspace-20"></div>
<div class="line_subline"></div>
</div>
</div>
<div class="subline_mobile">Also available on <a href="http://taell.me/honey-waffle-telegram/" title="Honey Waffle Telegram" alt="Honey Waffle Telegram link">Telegram</a> and <a href="http://taell.me/honey-waffle-line/" title="Honey Waffle Line" alt="Honey Waffle Line link">Line.</a></div>

<div class="credits">
<div class="credits_1"><a href="http://honey-waffle.taell.me/about.html" title="Honey Waffle about page" alt="Honey Waffle about">About</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/imprint.html" title="Honey Waffle imprint page" alt="Honey Waffle imprint">Imprint</a> &nbsp;&nbsp; <a href="http://honey-waffle.taell.me/privacy.html" title="Honey Waffle privacy page" alt="Honey Waffle privacy">Privacy</a></div>
<div class="credits_2">© 2018 Taell</div>
</div>

</div>
</div>

<div class="eight columns">


<div class="content">
<div class="blocktext">
<div class="textspace-20"></div>

Impressum
<div class="textspace-20"></div>
<img src="static/effsdafsadfsfda.png" width="175" height="115">

<div class="textspace-10"></div>
Haftungsausschluss
<div class="textspace-10"></div>
Haftung für Inhalte
Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
<div class="textspace-10"></div>
Haftung für Links
Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
<div class="textspace-20"></div>
Urheberrecht
<div class="textspace-10"></div>
Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
<div class="textspace-10"></div>
Quelle: <a href="http://www.e-recht24.de" target="_blank">e-recht24.de</a>

<div class="textspace-80"></div>
</div>
</div>

</div>
<!-- / Content -->

</div>
</div>

</body>

</html>
