<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Rorschach Test for Web – Have a chat and find out more about your personality. Take the test today.</title>
<meta name="description" content=">Rorschach Test web client">
<meta name="author" content=">Taell">

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Rorschach Test – Have a chat and find out more about your personality. Take the test today." />
<meta property="og:description" content="By asking to express what they see in inkblot cards, an inkblot test often shows more of a person’s underlying motivations. Take the free test today." />
<meta property="og:site_name" content="Rorschach Test web client" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Rorschach Test – Have a chat and find out more about your personality. Take the test today." />
<meta name="twitter:description" content="By asking to express what they see in inkblot cards, an inkblot test often shows more of a person’s underlying motivations. Take the free test today." />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="dns-prefetch" href="//s.w.org" />

<link rel="stylesheet" type="text/css" media="all" href="static/normalize.css">
<link rel="stylesheet" type="text/css" media="all" href="static/style.css?v=01">
<script src="https://dfs8nliextohv.cloudfront.net/taell-chat.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">

<script async src="https://www.offen.dev/script.js" data-account-id="1723842c-e43c-451b-b898-def2bdf05367"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93459915-1', 'auto');
ga('require', 'linkid');
ga('send', 'pageview');

var myintervalid = setInterval(function() {ga('send', 'event', '15-seconds', 'bounce' );},15000);
setTimeout(function(){clearInterval(myintervalid);},20000);

var isIE = !!navigator.userAgent.match(/Trident/g) || !!navigator.userAgent.match(/MSIE/g);
if(isIE){
 alert("Sorry. Internet Explorer is not fully supported by this app. Try Chrome, Safari or Firefox instead.");
}
else{}
</script>


</head>

<body>

<div class="container">
<div class="row">

<!-- Content -->
<div class="four columns">
<div class="container_mobile">

<div class="credits_mobile">
<div class="credits_3"><a href="https://rorschach-test.taell.me/about.html" title="Rorschach Test about page" alt="Rorschach Test about">About</a> &nbsp;&nbsp; <a href="https://rorschach-test.taell.me/imprint.html" title="Rorschach Test imprint page" alt="Rorschach Test imprint">Imprint</a> &nbsp;&nbsp; <a href="https://rorschach-test.taell.me/privacy.html" title="Rorschach Test privacy page" alt="Rorschach Test privacy">Privacy</a></br>© 2018 Taell</div>
</div>

<div class="branding">
<a href="https://rorschach-test.taell.me/about.html" title="Rorschach Test about page" alt="Rorschach Test sign"><img src="static/sign.svg" alt="sign" width="90" height="90" class="sign"></a>
<a href="https://rorschach-test.taell.me/about.html" title="Rorschach Test about page" alt="Rorschach Test sign"><img src="static/sign_mobile.svg" alt="sign" width="45" height="45" class="sign_mobile"></a>
<a href="https://rorschach-test.taell.me/about.html" title="Rorschach Test about page" alt="Rorschach Test logo"><img src="static/logo.svg" alt="logo" width="200" height="51" class="logo"></a>
<a href="https://rorschach-test.taell.me/about.html" title="Rorschach Test about page" alt="Rorschach Test logo"><img src="static/logo_mobile.svg" alt="logo" width="200" height="51" class="logo_mobile"></a>
<div class="subline_container">
<div class="line_subline"></div>
<div class="textspace-20"></div>
<div class="subline">Add this app on <a href="https://taell.me/rorschach-test-facebook/" title="Rorschach Test Facebook" alt="Rorschach Test Facebook link" target="_blank">Facebook,</a> <a href="https://taell.me/rorschach-test-telegram/" title="Rorschach Test Telegram" alt="Rorschach Test Telegram link" target="_blank">Telegram,</a> <a href="https://taell.me/rorschach-test-kik" title="Rorschach Test Kik" alt="Rorschach Test Kik link" target="_blank">Kik,</a>
<a href="https://taell.me/rorschach-test-slack/" title="Rorschach Test Slack" alt="Rorschach Test Slack link" target="_blank">Slack</a> or <a href="https://taell.me/rorschach-test-line/" title="Rorschach Test Line" alt="Rorschach Test Line link" target="_blank">Line.</a></div>

<div class="textspace-20"></div>
<div class="line_subline"></div>
</div>
</div>
<div class="subline_mobile">Available on <a href="https://taell.me/rorschach-test-telegram/" title="Rorschach Test Telegram" alt="Rorschach Test Telegram link" target="_blank">Telegram,</a> <a href="https://taell.me/rorschach-test-kik" title="Rorschach Test Kik" alt="Rorschach Test Kik link" target="_blank">Kik,</a>
<a href="https://taell.me/rorschach-test-slack/" title="Rorschach Test Slack" alt="Rorschach Test Slack link" target="_blank">Slack</a> or <a href="https://taell.me/rorschach-test-line/" title="Rorschach Test Line" alt="Rorschach Test Line link" target="_blank">Line.</a></div>

<div class="credits">
<div class="credits_1"><a href="https://rorschach-test.taell.me/about.html" title="Rorschach Test about page" alt="Rorschach Test about">About</a> &nbsp;&nbsp; <a href="https://Rorschach-test.taell.me/imprint.html" title="Rorschach Test imprint page" alt="Rorschach Test imprint">Imprint</a> &nbsp;&nbsp; <a href="https://rorschach-test.taell.me/privacy.html" title="Rorschach Test privacy page" alt="Rorschach Test privacy">Privacy</a></div>
<div class="credits_2">© 2018 Taell</div>
</div>

</div>
</div>

<div class="eight columns">
<div class="taell-chat" data-access-key="xf290bfk-c0fd-2273-84db-9zffc28ccb28" data-bot="rorschachtest" data-no-styles="true" data-welcome="Hello, good to see you. 👋 Type a message to get started!"></div>
</div>
<!-- / Content -->

</div>
</div>

</body>

</html>
